<% if local_assigns.has_key? :record %> 
<section id="<%= dom_id(record) %>_page" class="car-section">
  <section class="section car-section-title section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header text-center">
            <h2 class="page-title"><%= raw record.title %></h2>
            <p class="section-slogan"><%= get_text_element(record,'slogan') %></p>
          </div>
        </div>
      </div>
  </section> 
  <% if record.images.try(:any?) %>
  <%
    image_geometry = local_assigns.has_key?(:image_style) ? image_style : site.preferred_image_carousel_size
    rand_id = "carousel_#{rand(10000)}"
  %>
  <section class="section car-section-images"> 
    <div class="section-caret"></div>
    <div class="section-caret section-caret-top"></div> 
    <div class="carousel slide" id="<%= rand_id %>" data-interval="3000">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% record.images.each_with_index do |img, idx| %>
          <div class="item <%= 'active' if idx == 0 %>"><%= image_fu(img, image_geometry, :rel => "external") %></div>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <!-- Controls -->
      <a class="left carousel-control" href="#<%= rand_id %>" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#<%= rand_id %>" data-slide="next">
        <span class="icon-next"></span>
      </a> 
    </div>
  </section>
  <% end %> 
  <section class="section car-section-description section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="copy-text"><%= raw record.body %></div>
          <a href="#contacts" class="btn btn-link">Contacter nous pour toutes questions</a>
        </div>
        <div class="col-sm-6">
          <div class="copy-text"><%= get_text_element(record,'rates') %></div>
          <a data-toggle="modal" href="#page-modal" class="btn btn-link">Voir les conditions générales</a>
          
        </div>
      </div>
    </div> 
  </section> 
</section>
<% end %>