<% if local_assigns.has_key? :record %>
<section id="<%= dom_id(record) %>_page" class="section contact-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 intro">
        <div class="page-header">
          <h2 class="page-title text-center"><%= record.title %></h2> 
          <%= render_copy_text(record.body, :class => 'text-center') %>
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <form id="contact-form" action="/inquiries" method="post" data-remote="true">
           <input type="text" name="inquiry[ghost]" id="inquiry_ghost" value="" class="form-control hide"> 
          <div class="row">	
            <div class="col-xs-12 form-group">
              <input type="text" name="inquiry[name]" id="inquiry_name" value="" class="form-control required" placeholder="<%= t('simple_form.labels.inquiry.name') %>">
            </div>
            <div class="col-xs-12 form-group">
              <input type="text" name="inquiry[email]" id="inquiry_email" value="" class="form-control required email" placeholder="<%= t('simple_form.labels.inquiry.email') %>">
            </div>
            <div class="col-xs-12 form-group">
              <textarea name="inquiry[message]" id="inquiry_message" rows="20" cols="30" class="form-control required" placeholder="<%= t('simple_form.labels.inquiry.message') %>"></textarea>
            </div>
            <div class="col-xs-12 form-group">
              <input type="hidden" name="submitted" id="submitted" class="button" value="SEND"><button id="submit" class="btn btn-primary btn-block" type="submit"><%= t("gko.inquiry_submit") %></button>
            </div>
            <div class="col-xs-12 form-group">
              <p id="error" data-alert="" class="alert"><%= t("gko.inquiry_error") %></p>
              <p id="thanks" data-alert="" class="alert alert-success"><%= t("gko.inquiry_thanks") %></p>
              <p id="timedout" data-alert="" class="alert"><%= t("gko.inquiry_connection_time_out") %></p>
              <p id="state" data-alert="" class="alert"></p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
    		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    			<div class="contact-info">
    				<div class="row">
              <div class="col-sm-4 contact">
                <div class="icon">
                  <a><i class="icon-facebook icon-3x"></i><br>	
                </div>
                <p><%= link_to "Facebook", "https://www.facebook.com/OscarSaintBarthCarRental", :target => "_blank" %></p>
              </div>
              <div class="col-sm-4 contact">
                <div class="icon">
                  <a><i class="icon-envelope icon-3x"></i></a>	
                </div>
                <p><%= mail_to "hello@oscar-stbarth.com", "hello@oscar-stbarth.com", :encode => "javascript" %></p>
              </div> 
              <div class="col-sm-4 contact">
                <div class="icon">
                  <a><i class="icon-phone icon-3x"></i></a>	
                </div>
                <p><a href="tel:+590 (0) 690 653 833">+590 (0) 690 653 833</a></p>
              </div>
            </div>
    			</div>
    		</div>
    	</div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Foscar-car-rental-stbarth.com&amp;width=300&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:21px;" allowTransparency="true"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-sm-offset-3">
          <div class="g-plusone pull-left" data-annotation="none" data-href="http://oscar-car-rental-stbarth.com"></div>
        </div>
        <div class="col-xs-10 col-sm-8">  
          <div class="g-plus pull-left" data-width="200" data-action="share" data-href="http://oscar-car-rental-stbarth.com"></div>

          <!-- Placez cette ballise après la dernière balise Partager. -->
          <script type="text/javascript">
            window.___gcfg = {lang: 'fr'};

            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/platform.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </div>
      </div>
    
  </div>  
</section>
<% end %>
