<% if local_assigns.has_key? :record %>   
<article id="<%= dom_id(record) %>_page" class="section section-padding <%= record.name %>-section" style="background-image: url('<%= record.thumbnail.thumbnail("1200x800#").url() if record.thumbnail %>');">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h2 class="page-title text-center"><%= record.title %></h2>
        </div>
        <%= render_copy_text(record.body, :class => "text-center") %>
      </div> 
    </div> 
  </div>
    
</article>
<%= render 'google_map' %>
<% end %>
