<% if pg = site.sections.named(car_name) %>
<section id="cars" class="car-section">
  <!-- Begin fiat -->
  <section class="section car-section-title section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 intro text-center">
          <h2 class="section-title"><%= pg.title.html_safe %></h2>
          <h3 class="section-slogan"><%= get_text_element(pg,'slogan') %></h3>
        </div>
      </div>
  </section> 


  <section class="section car-section-images"> 
    <div class="section-caret"></div>
    <div class="section-caret section-caret-top"></div> 
      <% if pg.images.try(:any?) %>

          <div class="carousel slide" id="carousel" data-interval="3000">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <% pg.images.each_with_index do |img, idx| %>
              <div class="item <%= 'active' if idx == 0 %>">
                <%= image_fu(img) %>
              </div>
              <% end %>
            </div>
            <!-- Carousel nav -->
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel" data-slide="next">
              <span class="icon-next"></span>
            </a>

      </div>
      <% end %>
  </section> 
  <section class="section car-section-description section-padding">
    
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <p><%= pg.body.html_safe %></p>
        </div>
        <div class="col-sm-4">
          <%= link_to("A question ?", "#contacts", :class => "btn btn-default btn-lg btn-block")%>
          <%= link_to("Get a quote", "#contacts", :class => "btn btn-default btn-lg btn-block")%> 
        </div>
      </div> 
    </div>
  </section> 
  <section class="section car-section-rates section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 intro text-center">
          <h3>Rates</h3>
          <div>
            <%= get_text_element(pg,'rates') %>
          </div>
        </div>
      </div>
    </div>
  </section> 
</section>
<% end %>