<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body id='<%= @body_id %>'>
  <div id="page-wrapper">
    <%= yield :header %>
    <%= render "navbar" %>
    <section class="main-content">
      <%= yield %>
    </section>
    <%= render 'footer' %>
  </div>
  <!-- Oscar Park Ad -->
  <div id="oscarpark-ad">
    <%= link_to("http://oscarparkgustavia.com", :target => "_blank") do %>
      <%= image_tag("logo_oscarpark_#{I18n.locale.to_s}.png") %>
    <% end %>
  </div>
  <!-- End Oscar Park Ad -->
  <!-- Back To Top -->
  <a id="back-to-top" href="#" class="text-center">
  	<i class="icon-angle-up icon-2x"></i>
  </a>
  <!-- End Back to Top --> 

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= render 'javascripts' %>

</body>  
</html>