<% homepage = current_site.sections.find_by_name("primary_menu") %> 
<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body id='<%= @body_id %>'> 
  <div id="page-wrapper">
    <section id="header" class="section intro-section-title section-padding" data-bg="<%= homepage.thumbnail.thumbnail.black_and_white("1200x800#").url() if homepage.thumbnail %>">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div id="intro" class="text-container">
            <%= image_tag("logo-green.png", :id => "logo") %>
            <div id="intro-text"><%= raw resource.body %></div> 
          </div>
        </div>
      </div>
  	</section>
    <%= render "navbar" %>
    <section class="main-content">
      <%= yield %>
    </section>
    <%= render 'footer' %>
  </div>

  <!-- Back To Top -->
  <a id="back-to-top" href="#" class="text-center">
  	<i class="icon-angle-up icon-2x"></i>
  </a>
  <!-- End Back to Top --> 

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= render 'javascripts' %>

</body>  
</html>